#calibrateHoldSteady {
  position:absolute;
  text-Align: CENTER;
  font-size: 200px;
  font-family: "brandon-grotesque";
  font-weight: bold;
  left:50%;
  color: white;
  z-index:30px;
}

.calibrateHoldSteady {
  position:absolute;
  text-Align: CENTER;
  font-size: 200px;
  font-family: "brandon-grotesque";
  font-weight: bold;
  color: white;
  z-index:30px;
}

.centeredcallibration{
  position: absolute;
  /*display: block;*/
    margin-left: 50%;
  margin-right: auto;
}

