/*animate: bounce;*/

#cappink {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 3px solid #73AD21;
  animation: bounce ease-in-out 1.5s;
}

#capblue {
  position: fixed;
  bottom: 0;
  left: 160px;
}