#gametimerAll {
  font-size: 6em;
  position: absolute;
  left: 180px;
  z-index: 10;
   font-family: "brandon-grotesque";
   color: white;
}

.class5{
  display:none;
}
.class3 {
  display: none;
}

.class4 {
  display: none;
}

.class2 {
  display: none;
}


#sec{
  position:absolute;
  left:210px;
  top:0px;
   font-family: "brandon-grotesque";
}

.gametimer {
  text-align: right;
   font-family: "brandon-grotesque";
}

.countdown {
  display: block;
  text-align: center;
  font-size: 300px;
  font-family: "brandon-grotesque";
  margin: 0 auto;
  line-height:1em;
    z-index: 10;
}
#countdowntofly{
    z-index: 10;
}

.header {
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: "brandon-grotesque";
}

#flaptemp {
  background: blue;
}



#loading {
  font-size: 5em;
  margin-left: 0px;
  margin-right: 0px;
  color: blue;
  background-size: cover;
  /*min-height:100%;*/
  width: 100%;
  display: block;
}

#everything {
  display: block;
  margin-left: 0px;
}

body {
  background: #7bc8a6;
}

.instructions {
  z-index: 10px;
  top: 50%;
  left: 50%;
  display: none;
  position: absolute;
}

#defaultCanvas0 {
  position: absolute;
}

.fist {
  background-image: url('assets/fist.png');
   animation: nudge 5s infinite;
  
}

.flapdiv{
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-around;
}

#flap1{
}

#flap3{
}

#flap2{
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

#cappink {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 3px solid #73AD21;
}

#capblue {
  position: fixed;
  bottom: 0;
  left: 160px;
}

#newspaper {
  font-size: 12em;
  font-family: "brandon-grotesque";
}