#timer{
  position:absolute;
  z-index:10px;
}
.countdown{
  display:block;
  text-align:center;
  font-size:12em;
  font-family: "brandon-grotesque";
  margin:0 auto;
 
}
.header{
  display:block;
  text-align:center;
  font-size:5em;
  font-family: "brandon-grotesque";
}

#flaptemp{
  background:blue;
}
.class3{
  display:none;
}
.class4{
  display:none;
}
#loading{
  font-size: 5em;
  margin-left: 0px;
  margin-right:0px;
  color: blue;
  background-size:cover;
  /*min-height:100%;*/
  width:100%;
  display:block;
}

#everything{
  display:block;
   margin-left: 0px;
  
}

body{
  background: #7bc8a6;
}

.instructions{
  z-index:10px;
  top: 50%;
  left: 50%;
  display:none;
  position:absolute;
}

#defaultCanvas0{
  position:absolute;
}

.fist{
  background-image:url('assets/fist.png');
}

.cappink{
   position: fixed;
    bottom: 0;
    left: 0;
     border: 3px solid #73AD21;
}

.capblue{
  position: fixed;
    bottom: 0;
    left: 30;
}

#newspaper{
    font-size:12em;
  font-family: "brandon-grotesque";
}